@import "tailwindcss";

.btn-type {
@apply
    bg-linear-to-br from-white/10 to-white/15 rounded-md p-2 flex-1 text-center transition-all duration-150
    hover:scale-95 border border-white/5
}

.bgAnimCircle {
    position: absolute;
    inset: 30%;
    background: radial-gradient(
        circle at 50% 50%,
        hsla(334, 95%, 51%, 0.6),
        transparent 100%
    );
    filter: blur(50px);
    /* animation: move 4s linear infinite; */
    will-change: transform;
}

@keyframes move {
    1% {
        transform: scale(0) rotate(0deg);
    }
    25% {
        transform: scale(0.4) rotate(10deg);
    }
    50%{
        transform: scale(1) rotate(20deg);
    }
    75%{
        transform: scale(0.4) rotate(10deg);
    }
    100%{
        transform: scale(0) rotate(0deg);
    }
}