@import "tailwindcss";

:root {
  --background: #2a2525;
    --foreground: #ededed;

  /* Переменные для скроллбара - светлая тема */
  --scrollbar-track: #f1f5f9;
  --scrollbar-thumb: #cbd5e1;
  --scrollbar-thumb-hover: #94a3b8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2a2525;
    --foreground: #ededed;

    /* Переменные для скроллбара - темная тема */
    --scrollbar-track: #1e293b;
    --scrollbar-thumb: #475569;
    --scrollbar-thumb-hover: #64748b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
}


button {
  cursor: pointer;
}

label {
  @apply text-white text-sm font-semibold
}
.large {
  @apply 
  text-2xl font-bold
  
}
.medium{
  @apply 
  md:text-[15px]
  text-[14px]
  text-wrap
}
.small {
  @apply 
  md:text-[14px]
  text-[12px]
  text-wrap
}

.h-lvh {
  height: 100lvh; /* новый стандарт, работает в последних браузерах */
  height: 100dvh; /* для Safari и старых браузеров */
  height: 100vh;  /* запасной вариант */
}

.flexC {
  @apply 
  flex 
  items-center 
  justify-center
}

.btnSave {
  @apply 
  flex 
  items-center 
  justify-center  
  py-2 
  px-4 
  border 
  border-transparent 
  rounded-md 
  shadow-sm 
  text-sm 
  font-medium 
  text-white 
  bg-white/20 
  hover:bg-white/40
  transition-colors
  focus:outline-none 
  focus:ring-2 
  focus:ring-offset-2 
  focus:ring-black
}

.prettyBtnChat {
  @apply
  text-[14px] select-none z-10
  backdrop-blur-2xl rounded-full
  px-4 py-2
  border border-white/10
  bg-linear-to-br 
  from-white/20 to-white/10
  hover:from-white/20 hover:to-white/30
}

.prettyBtn {
  @apply 
  text-[14px] select-none
  backdrop-blur-2xl rounded-full
  px-3 py-1
  bg-linear-to-br 
  from-white/20 to-white/10
  hover:from-white/20 hover:to-white/30
}

.btnWP {
  @apply
  text-[14px] select-none
  backdrop-blur-2xl rounded-md
  border border-white/10
  bg-linear-to-br 
  from-white/5 to-white/10
  hover:from-white/10 hover:to-white/15
}

.prettyLabelInput{
  @apply
  px-2 text-[11px] font-medium text-white/50  rounded
}
.prettyInput {
  @apply 
  w-full
  px-4 py-2.5
  text-[14px] text-white
  border-b border-white/10
  rounded-xl
  outline-none
  transition-all duration-200
  placeholder:text-white/40
  focus:border-b-white
}

.unreadMsg {
  @apply
  text-[9px] select-none font-semibold text-white
  backdrop-blur-2xl rounded-full
  w-5 h-5
  border border-white/10
}



.message-wrapper{
  overflow: hidden;
  transition: 
    height 260ms ease,
    margin 260ms ease;
  ;
}
.message--collapsing{
  height: 0 !important;
  margin: 0;
}
.message {
  will-change: transform, opacity, filter;
  transition:
    transform 160ms cubic-bezier(0.34, 1.56, 0.64, 1),
    opacity 180ms ease-out,
    filter 180ms ease-out;
  ;
}
.message--deleting{
  transform:
    translate(140px) 
    scale(0.8)
    rotate(2deg)
  ;
  opacity: 0;
  filter: blur(2px);
}



::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
  background-clip: padding-box;
}


.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.virtuoso-wrapper {
  mask-image: linear-gradient(
  to bottom,
  transparent 0%,
  rgba(255, 0, 0, 0.5)1%,
  rgba(255, 0, 0, 0.986) 40%
);
}







/* keyFrames */

@keyframes menuIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}