@import "tailwindcss";

.wave-layer {
  position: absolute;
  inset: 10%;
  background: radial-gradient(
    circle at 50% 50%,
    hsl(200 80% 60% / 0.6),
    transparent 100%
  );
  filter: blur(80px);
  animation: move 10s linear infinite;
  will-change: transform;
}


@keyframes move {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1.5) rotate(10deg);
  }
}

.wave-layer2 {
  position: absolute;
  inset: 20%;
  background: radial-gradient(
    circle at 40% 30%,
    hsla(200, 40%, 60%, 0.6),
    transparent 60%
  );
  filter: blur(80px);
  animation: move2 10s linear infinite;
  will-change: transform;
}
@keyframes move2 {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1.2) rotate(10deg);
  }
}



.wave-layer3 {
  position: absolute;
  inset: -20%;
  background: radial-gradient(
    circle at 10% 30%,
    hsla(200, 53%, 29%, 0.6),
    transparent 60%
  );
  filter: blur(80px);
  animation: move 10s linear infinite;
  will-change: transform;
}